/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
a:link{color:#656565;}
a:hover{color:#20222a;}

body{
	font-size: 14px;
	font-family:"Times New Roman", serif;
	line-height: 17px;
	color:#656565;

}
div#container{

	/*background-image:url('../mockup.png');
	background-repeat: no-repeat;*/
	width:1180px;
	height:1494px;
	border:2px solid pink;
}
div#logo{
	margin:42px 0 15px 70px;
	width:197px;
	height:29px;
}
div.content{
	width:960px;
	height:499px;
	margin:0 0 4px 71px ;
	border:2px solid black;
}
body #article{
	height:175px;

}
h2{
	margin:10px 0 0 0;
}
h5{
	margin:15px 0 10px 0;
}
p{
	
	margin-top:5px;
	margin-bottom:10px;
}
div#first_left{
margin-left:71px;
}
div.press{
	width:226px;
	height:145px;
	border:5px solid #c5c5c5;
	margin-right:3px;
	float:left;
}
div div.inner{
	width:224px;
	height:144px;
	border:1px solid white;
}